<div class="h-100vh w-100vw flex layout-column">
  {{#paper-toolbar as |toolbar|}}
     {{#toolbar.tools}}
       <h2>Hiring Application</h2>
     {{/toolbar.tools}}
   {{/paper-toolbar}}
  <div class="layout-row flex layout-align-center-center">
    {{outlet}}
  </div>
</div>
